<!DOCTYPE html>

<html>
  <head>
    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->

    <!-- JQuery with Subresource Integrity -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvPx1ULockiQY9wA2+N6FzE+7JfQ2F/pq8TDU4="
            crossorigin="anonymous"></script>

    <!-- Bootstrap with Subresource Integrity -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <!-- Datatable with Subresource Integrity -->
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/date-1.4.1/r-2.4.1/datatables.min.css"
          rel="stylesheet"
          integrity="sha384-fMHbeGxYPmvjz9eDQhZN/Vg8owBqBIlV8EroJbiGiCeJmPTb6vLofQMk5n5PkoHe"
          crossorigin="anonymous">
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/date-1.4.1/r-2.4.1/datatables.min.js"
            integrity="sha384-2i3SQ4atqzT3p22HlsbRLSbtFPJFlWxSG7ogsZrM1ERfkC1oSA6fFIlR03iC6JjC"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"
            integrity="sha384-fYxN7HsDOBRo1wT/NSZ0LkoNlcXvpvMTL5iHJsziCE1qReUQ0j5IUnTipmoeAw1q"
            crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Saddlebag Exchange Temp Home</title>
    <meta charset="description" content="Shows the results of any of our searches to help you master the marketboard and earn major gil!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7398832994051812"
     crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J22872QEWM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J22872QEWM');
    </script>


    