{% include '_header.html' %}

<body>
  {% include '_navbar.html' %}

  <div class="container">
    <div class="alert alert-primary" role="alert">
      We're currently in need of React JS Devs! If you're interested in helping out, <a href="https://github.com/ff14-advanced-market-search/saddlebag-with-pockets" target="_blank" class="primary-btn">check out our GitHub</a>!
    </div>

    <h2>Saddlebag Exchange Temp Home</h2>
    <h3 class="h5 text-secondary mb-5">Links to temporary pages on brand new searches.</h3>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <a href="/ffxiv_itemnames" class="btn btn-secondary w-100 h-100 p-5 ">FFXIV ID to item name</a>
        </div>
        <div class="col">
          <a href="/pricecheck" class="btn btn-secondary w-100 h-100 p-5 ">FFXIV Manual Price Sniper</a>
        </div>

        <!--
        <div class="col">
          <a href="/scan" class="btn btn-secondary w-100 h-100">FFXIV reselling</a>
        </div> -->
      </div>
    </div>
