{% include '_header.html' %}

<body>
  {% include '_navbar.html' %}
  <div class="container-fluid">
        <!-- results -->
        <h2>For finding the realms with high pet prices and high populations</h2>
        <div class="mt-4">
          {% if request.method == 'POST'%}
            <table id="proxies" class="display table table-striped table-hover nowrap responsive" style="width: 100%">
              <thead>
                <tr>
                  {% for header in results[0].keys() %}
                    <th>{{header}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in results %}
                  <tr>
                    {% for index in range(0, len(fieldnames)) %}
                      <td>{{row[fieldnames[index]]}}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
        <!-- input commands -->
        <form method="POST" action="/petexport" target="_blank" class="scanform">
          <hr>

          <div class="mb-3">
            <label class="form-label">Region</label>
            <select class="form-select" id="region" name="region">
                <option value="NA">US</option>
                <option value="EU">EU</option>
            </select>
            <div class="form-text">Pick a region.</b> ex: <code>US</code></div>
          </div>

          <div class="mb-3">
            <label class="form-label">
              petID or itemID
            </label>
            <input name="petID" type="number" class="form-control" value="3390">
            <div class="form-text">
              <a href="/itemnames" target="_blank">This list shows all petIDs and other Dragonflight itemIDs</a>.
              ex: <code>3390</code>.
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">populationWP</label>
            <input name="populationWP" type="number" class="form-control" value="3000">
            <div class="form-text">populationWP. Pick a minimum server population size (via wowprogress). ex: <code>3000</code>.</div>
          </div>

          <div class="mb-3">
            <label class="form-label">populationBlizz</label>
            <input name="populationBlizz" type="number" class="form-control" value="1">
            <div class="form-text">populationBlizz. Pick a minimum server population size (via blizzard). only allowed values: 0,1,2,3,4.</div>
          </div>

          <div class="mb-3">
            <label class="form-label">rankingWP</label>
            <input name="rankingWP" type="number" class="form-control" value="90">
            <div class="form-text">rankingWP. Pick a min wowprogress ranking. ex: <code>90</code>.</div>
          </div>

          <div class="mb-3">
            <label class="form-label">minPrice</label>
            <input name="minPrice" type="number" class="form-control" value="3000">
            <div class="form-text">minPrice. exclude servers with a min price lower than this value. ex: <code>3000</code>.</div>
          </div>

          <div class="mb-3">
            <label class="form-label">maxQuantity</label>
            <input name="maxQuantity" type="number" class="form-control" value="100">
            <div class="form-text">maxQuantity. exclude servers with a min price lower than this value. ex: <code>100</code>.</div>
          </div>
                
          <button type="submit" value="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>

      </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7398832994051812"
     crossorigin="anonymous"></script>
  </body>
  <script type="text/javascript">
    // convert the content of cols 7 & 8 in #proxies into a clickable <a> tag
    // 7 : link, 8 : undermineLink
    $('#proxies').DataTable(
      {
        "columnDefs": [
          {
            "targets": [ 7, 8 ],
            "render": function ( data, type, row ) {
              return '<a href="' + data + '" target="_blank">' + data + '</a>';
            }
          }
        ]
      }
    );  </script>
  
</html>






