{% include '_header.html' %}

<body>
  {% include '_navbar.html' %}
  <div class="container-fluid">
        <!-- results -->
        <h2>Servers with lowest price for selected pet</h2>
        <div class="mt-4">
          {% if request.method == 'POST'%}
            <table id="proxies" class="display table table-striped table-hover nowrap responsive" style="width: 100%">
              <thead>
                <tr>
                  {% for header in results[0].keys() %}
                    <th>{{header}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in results %}
                  <tr>
                    {% for index in range(0, len(fieldnames)) %}
                      <td>{{row[fieldnames[index]]}}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
        <!-- input commands -->
        <form method="POST" action="/petshoppinglist" target="_blank" class="scanform">
          <hr>
     
          <div class="mb-3">
            <label class="form-label">
              petID or itemID
            </label>
            <input name="petID" type="number" class="form-control" value="3390">
            <div class="form-text">
              <a href="/itemnames" target="_blank">This list shows all itemIDs or petIDs you can pick from </a>.
              ex: <span style="color: #d97e84;">3390</span>.
            </div>
          </div>


          <div class="mb-3">
            <label class="form-label">Max Purchase Price</label>
            <input class="form-control" name="maxPurchasePrice" type="number" value="10000">
            <div class="form-text">maxPurchasePrice. Pick the most amount of gold you want to spend. ex: <span style="color: #d97e84;">3000</span></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Region</label>
            <select class="form-select" id="region" name="region">
                <option value="NA">US</option>
                <option value="EU">EU</option>
            </select>
            <div class="form-text">Pick a region. ex: <span style="color: #d97e84;">US</span></div>
          </div>
                
          <button type="submit" value="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>

      </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7398832994051812"
     crossorigin="anonymous"></script>
  </body>
  <script type="text/javascript">
    // convert the content of cols 4 & 5 in #proxies into a clickable <a> tag
    // 4 : warcraftPetsLink, 5 : link
    $('#proxies').DataTable(
      {
        "columnDefs": [
          {
            "targets": [ 5 ],
            "render": function ( data, type, row ) {
              return '<a href="' + data + '" target="_blank">' + data + '</a>';
            }
          }
        ]
      }
    );
  </script>
  
</html>






